<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Forget Password</header>
            <form class="auth-form" id="forget_form" method="post" action="/forget-password">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" id="email" name="email">
                </div>

                <div class="form-link">
                    <a href="/login" class="forgot-pass">Log In</a>
                </div>

                <div class="field button-field">
                    <button type="button">Request</button>
                </div>
            </form>
        </div>
    </div>
</section>