<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Forget Password</header>
            <form class="auth-form" id="forget_form" method="post">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" id="email">
                    <div class="error-message" id="emailError"></div>
                </div>

                <div class="form-link">
                    <a href="/login" class="forgot-pass">Log In</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Request</button>
                </div>
            </form>

        </div>
</section>
<script>
    const forgetHandle = async (e) => {
        e.preventDefault();
        let email = document.getElementById("email").value;

        document.getElementById("emailError").textContent = "";

        if (!email) {
            document.getElementById("emailError").textContent = "Email is required";
        } else if (!isValidEmail(email)) {
            document.getElementById("emailError").textContent = "Please enter a valid email address";
        } else {
            let form = new FormData();
            form.append("email", email);
            try {
                let request = await fetch(_base_url + '/auth/forgot-password', {
                    method: "POST",
                    body: form,
                    headers: {}
                });
                let data = await request.json();
                if (data && data.status) {
                    localStorage.setItem("reset-token", data.token);
                    showAlert(data.msg, 'success');
                    setTimeout(() => {
                        window.location.href = '/reset-password';
                    }, 2000);
                } else {
                    showAlert(data.msg, 'error');
                }
            } catch (error) {
                showAlert(error.message, 'error');
            }
        }
    };

    const isValidEmail = (email) => {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    };

    document.getElementById("email").addEventListener("input", function () {
        document.getElementById("emailError").textContent = "";
    });

    document.querySelector("#forget_form").addEventListener("submit", forgetHandle);
</script>