<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form class="auth-form" id="login_form" method="post">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" id="email">
                    <div class="error-message" id="emailError"></div>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="password">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error-message" id="passwordError"></div>
                </div>

                <div class="form-link">
                    <a href="/forget-password" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="text-center mt-10">
                <a href="/register" class="text-center">Don't have an account ? </a>
            </div>

        </div>
</section>

