<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form class="auth-form" id="login_form" method="post" action="/login">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" name="email">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password">
                </div>
                <div class="form-link">
                    <a href="/forget-password" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="button">Login</button>
                </div>
            </form>
            <div class="text-center mt-10">
                <a href="/register" class="text-center">Don't have an account ? </a>
            </div>
        </div>
    </div>
</section>