<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Register</header>
            <form class="auth-form" id="register_form" method="post">
                <div class="field input-field">
                    <input type="text" placeholder="First Name" class="input" id="first_name">
                    <div class="error-message" id="firstNameError"></div>
                </div>

                <div class="field input-field">
                    <input type="text" placeholder="Last Name" class="input" id="last_name">
                    <div class="error-message" id="lastNameError"></div>
                </div>

                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" id="email">
                    <div class="error-message" id="emailError"></div>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="password">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error-message" id="passwordError"></div>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm Password" class="password" id="confirm_password">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error-message" id="confirmPasswordError"></div>
                </div>
                <div class="field input-field border">
                    <select id="role" class="role-class">
                        <option value="">Role</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                    <div class="error-message" id="roleError"></div>
                </div>

                <div class="field button-field">
                    <button type="submit">Register</button>
                </div>
            </form>
            <div class="text-center mt-10">
                <a href="/login">Already have an account?</a>
            </div>
        </div>
    </div>
</section>


<script>
    const registerHandle = async (e) => {
        e.preventDefault();

        clearErrorMessages();

        let firstName = document.getElementById("first_name").value;
        let lastName = document.getElementById("last_name").value;
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirm_password").value;
        let role = document.getElementById("role").value;

        let requiredFieldError = false
        if (!firstName) {
            document.getElementById("firstNameError").textContent = "First Name is required";
            requiredFieldError = true
        }

        if (!lastName) {
            requiredFieldError = true
            document.getElementById("lastNameError").textContent = "Last Name is required";
        }

        if (!email) {
            requiredFieldError = true
            document.getElementById("emailError").textContent = "Email is required";
        } else if (!isValidEmail(email)) {
            requiredFieldError = true
            document.getElementById("emailError").textContent = "Please enter a valid email address";
        } else if (isValidStevensEmail(email)) {
            requiredFieldError = true
            document.getElementById("emailError").textContent = "Only students of stevens institute can use this platform";
        }

        if (!password) {
            requiredFieldError = true
            document.getElementById("passwordError").textContent = "Password is required";
        } else if (isValidPassword(password)) {
            requiredFieldError = true
            document.getElementById("passwordError").textContent = "Password must contain at least one uppercase letter, one digit, one special character (@$!%*?&), and be at least 8 characters long.";
        }

        if (!confirmPassword) {
            requiredFieldError = true
            document.getElementById("confirmPasswordError").textContent = "Confirm Password is required";
        } else if (password !== confirmPassword) {
            requiredFieldError = true
            document.getElementById("confirmPasswordError").textContent = "Passwords don't match";
        }

        if (!role) {
            requiredFieldError = true
            document.getElementById("roleError").textContent = "Role is required";
        }

        let form = new FormData();
        form.append("firstName", firstName);
        form.append("lastName", lastName);
        form.append("email", email);
        form.append("password", password);
        form.append("role", role);

        if (!requiredFieldError) {

        }
    };


    document.getElementById("email").addEventListener("input", function () {
        document.getElementById("emailError").textContent = "";
    });

    document.getElementById("password").addEventListener("input", function () {
        document.getElementById("passwordError").textContent = "";
    });

    document.getElementById("first_name").addEventListener("input", function () {
        document.getElementById("firstNameError").textContent = "";
    });

    document.getElementById("last_name").addEventListener("input", function () {
        document.getElementById("lastNameError").textContent = "";
    })

    document.getElementById("confirm_password").addEventListener("input", function () {
        document.getElementById("confirmPasswordError").textContent = "";
    })
    document.getElementById("role").addEventListener("input", function () {
        document.getElementById("roleError").textContent = "";
    })

    document.querySelector("#register_form").addEventListener("submit", registerHandle);
</script>