<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Reset Password</header>
            <form class="auth-form" id="reset_form" method="post" action="/reset-password">
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="password" name="password">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm Password" class="password" id="confirm_password"
                        name="confirm_password">
                </div>

                <div class="field button-field">
                    <button type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>