<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Reset Password</header>
            <form class="auth-form" id="reset_form" method="post">
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="password">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error-message" id="passwordError"></div>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm Password" class="password" id="confirm_password">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error-message" id="confirmPasswordError"></div>
                </div>

                <div class="field button-field">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

</section>
