<div class="container">
    {{> navbar}}
</div>
<div class="container">
    <h4>Upload Project</h4>
    <p>Post a Project video to your account.</p>
    <div class="container d-flex p-5 border justify-content-around">
        <div class="d-flex flex-column border rounded align-items-center justify-content-end">
            <video class="video-upload-sec p-3" src="" controls id="project_video"></video>
            <div class="my-3">
                <input type="file" accept="video/*" hidden name="videoLink" id="upload-feature"
                    onchange="setPreviewVideo(event)" />
                <div class="error-message" id="videoError"></div>
                <label class="btn btn-primary rounded" for="upload-feature">Upload Video</label>
            </div>
        </div>
        <div class="w-75 p-3">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" placeholder="Title" name="title" class="form-control y-2" id="title">
                <div class="error-message" id="titleError"></div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" placeholder="Description" name="description" class="form-control y-2"
                    id="description">
                <div class="error-message" id="descriptionError"></div>
            </div>
            <div class="form-group">
                <label for="branch">Branch</label>
                <input type="text" placeholder="Branch" name="branch" class="form-control y-2" id="branch">
                <div class="error-message" id="branchError"></div>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" placeholder="Subject" name="subject" class="form-control y-2" id="subject">
                <div class="error-message" id="subjectError"></div>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-danger" id="discardButton">Discard</button>
                <button type="button" class="btn btn-success" id="create_project">Post</button>
            </div>
        </div>
    </div>
</div>


<script>


    const createProject = async (e) => {
        try {
            if (!validateProjectFields()) {
                return;
            }
            const title = document.getElementById("title").value;
            const description = document.getElementById("description").value;
            const subject = document.getElementById("subject").value;
            const branch = document.getElementById("branch").value;
            const file = document.getElementById("upload-feature").files[0];

            let form = new FormData();
            form.append('title', title);
            form.append('description', description);
            form.append('subject', subject);
            form.append('branch', branch);
            form.append('videoLink', file);


        } catch (err) {
            console.log("err", err)
            return;
        }
    };

    document.querySelector('#create_project').addEventListener('click', createProject);

    document.getElementById("discardButton").addEventListener("click", discardProject);

    document.getElementById("title").addEventListener("input", function () {
        document.getElementById("titleError").textContent = "";
    });

    document.getElementById("upload-feature").addEventListener("change", function () {
        document.getElementById("videoError").textContent = "";
    });
    document.getElementById("description").addEventListener("input", function () {
        document.getElementById("descriptionError").textContent = "";
    })

    document.getElementById("branch").addEventListener("input", function () {
        document.getElementById("branchError").textContent = "";
    })
    document.getElementById("subject").addEventListener("input", function () {
        document.getElementById("subjectError").textContent = "";
    })


</script>