<div class="container-fluid px-0">
   <nav class="navbar navbar-dark bg-dark justify-content-between py-3">
    <a class="navbar-brand text-primary cursor-pointer" id=""
        onclick="navigate('/')">PROJEX</a>
    <form class="form-inline" id="search_form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
        <button class="btn btn-outline-primary " type="submit">Search</button>

    </form>
    <div>
        {{#if isAdmin}}
        <button type="button" class="btn btn-danger mr-10" 
            title="Add Project" onclick="navigate('/reportList')">
            Reports
        </button>
        {{/if}}
        <button type="button" class="btn btn-outline-primary mr-10" 
            title="Add Project" onclick="navigate('/create')">
            Create Project
        </button>
        

        <div class="btn-group mr-10     " id="cursor-pointer">
            <img class="avatar dropdown-toggle" src="https://avatar.iran.liara.run/public" alt="Avatar" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" onclick="navigate('/profile')">{{user.id}}</a>
                <a class="dropdown-item" onclick="logOut()">Log Out</a>
            </div>
        </div>
    </div>

</nav>
</div>
<div class="container mt-10 ">
    <div class="row justify-content-around ">
        {{#each projects}}
        <div class="card lg:card-side bg-base-100 shadow-xl mb-4" style="max-width: 800px;">
            <figure><video controls style="max-width: 100%; max-height: 400px;">
                    <source src="../public/uploads/1714886936007-484170.mp4" type="video/mp4">
                </video></figure>
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p>Click the button to se detailed project.</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Expand</button>
            </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- <div class="container mt-10 ">
    <div class="row justify-content-around ">
        <div class="card lg:card-side bg-base-100 shadow-xl" style="max-width: 800px;">
            <figure><video controls style="max-width: 100%; max-height: 400px;">
                    <source src="../public/uploads/1714886936007-484170.mp4" type="video/mp4">
                </video></figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-10 ">
    <div class="row justify-content-around ">
        <div class="card lg:card-side bg-base-100 shadow-xl" style="max-width: 800px;">
            <figure><video controls style="max-width: 100%; max-height: 400px;">
                    <source src="../public/uploads/1714886936007-484170.mp4" type="video/mp4">
                </video></figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
            </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-10 ">
    <div class="row justify-content-around ">
        <div class="card lg:card-side bg-base-100 shadow-xl" style="max-width: 800px;">
            <figure><video controls style="max-width: 100%; max-height: 400px;">
                    <source src="../public/uploads/1714886936007-484170.mp4" type="video/mp4">
                </video></figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
            </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-10 ">
    <div class="row justify-content-around ">
        <div class="card lg:card-side bg-base-100 shadow-xl" style="max-width: 800px;">
            <figure><video controls style="max-width: 100%; max-height: 400px;">
                    <source src="../public/uploads/1714886936007-484170.mp4" type="video/mp4">
                </video></figure>
            <div class="card-body">
                <h2 class="card-title">New album is released!</h2>
                <p>Click the button to listen on Spotiwhy app.</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Listen</button>
            </div>
            </div>
        </div>
    </div>
</div> --}}


<script>
    function navigate(route) {
    window.location.href = route;
}

function logOut(){
    window.location.href = "http://localhost:3000/auth/logout";
}
</script>