<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- style CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light justify-content-between my-3 ">
            <a class="navbar-brand text-primary" id="cursor-pointer"
                onclick="deletelocalId(); navigate('/dashboard')">PROJEX</a>
            <form class="form-inline" id="search_form">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
                <button class="btn btn-outline-primary " type="submit">Search</button>

            </form>
            <div>
                <button type="button" class="btn btn-secondary mr-2" data-toggle="tooltip" data-placement="top"
                    title="Add Project" onclick="navigate('/create-project')">
                    +
                </button>

                <div class="btn-group " id="cursor-pointer">
                    <img class="avatar dropdown-toggle" src="/image/avatar2.png" alt="Avatar" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="navigate('/profile')">Profile</a>
                        <a class="dropdown-item" onclick="logOut()">Log Out</a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="container">
        <div class="row justify-content-around ">
            <div class="col-6 col-md-4 border rounded filter-section">
                <h3 class="mt-1 mb-2">Filter</h3>
                <div class="row-3 ">
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                    <button type="button" class="btn btn-primary mb-2">Primary</button>
                </div>


            </div>

            <div class="col-12 col-sm-6 col-md-8 col-md-offset-2 border rounded dashboard-showcase-sec"
                id="project_list">

            </div>
        </div>
    </div>
    <div id="snackbar"></div>
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        deletelocalId()
        checkIsLogin()
        const fetchProjects = async (search) => {
            try {
                checkIsLogin()
                document.querySelector("#project_list").innerHTML = ""
                let url = search && search != "" ? '/project' + `?search=${search}` : '/project'
                let response = await fetch(_base_url + url, {
                    method: "GET",
                    headers: {
                        Authorization: "Bearer " + localStorage.getItem("user-token")
                    }
                })
                let data = await response.json()
                if (data && data.status) {
                    data?.data?.forEach(project => {
                        // Create a temporary container element
                        let container = document.createElement('div');

                        // Set the innerHTML of the container to your HTML string
                        container.innerHTML = `<div class="mb-2 mt-2 rounded d-flex justify-content-center" onclick="storelocalId('${project._id}')" id="cursor-pointer">
        <div class="card profile mt-2" style="width: 40rem;">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img class="avatar" src="/image/avatar2.png" alt="Avatar">
                </div>
                <div class="col px-0">
                    <h4 class="mb-0">${project.author.firstName} ${project.author.lastName}</h4>
                </div>
            </div>
            <div class="card-body border rounded mt-2">
                <p class="card-text">${project.title} - ${project.description}</p>
            </div>
            <video class="card-img-top border rounded mt-2" src="${project.videoLink}" controls
                alt="Card image cap"></video>

        </div>
    </div>`;

                        // Append the child nodes of the container to the parent node
                        document.querySelector("#project_list").appendChild(container.firstChild);
                    });

                } else {
                    showErrorToast(data.msg)
                }
            } catch (err) {
                console.log("fetch project error")
                console.log(err)
                showErrorToast(err.message)
            }
        }

        const searchProject = (e) => {
            e.preventDefault()
            let search = document.getElementById("search").value
            if (search && search.trim() != "") {
                fetchProjects(search)
            } else {
                fetchProjects()
            }
        }

        document.querySelector('#search_form').addEventListener('submit', searchProject)

        fetchProjects()
    </script>
</body>

</html>