<div class="container">
    {{> navbar}}
</div>
<div class="container">
    <div class="row justify-content-around ">
        {{!-- <div class="col-6 col-md-4 border rounded filter-section">
            <h3 class="mt-1 mb-2">Filter</h3>
            <div class="row-3 ">
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-primary mb-2">Primary</button>
            </div>


        </div> --}}

        <div class="col-12 col-sm-6 col-md-8 col-md-offset-2 border rounded dashboard-showcase-sec" id="project_list">
            <div class="mb-2 mt-2 rounded d-flex justify-content-center" id="cursor-pointer">
                <div class="card profile mt-2" style="width: 40rem;">
                    <div onclick="window.location.href='profile'">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img class="avatar" src="/image/avatar2.png" alt="Avatar">
                            </div>
                            <div class="col px-0">
                                <h4 class="mb-0">raj patel</h4>
                            </div>
                        </div>
                        <div class="card-body border rounded mt-2">
                            <p class="card-text">Nature</p>
                        </div>
                    </div>
                    <video class="card-img-top border rounded mt-2"
                        src="https://media.geeksforgeeks.org/wp-content/uploads/20210314115545/sample-video.mp4"
                        controls alt="Card image cap"></video>
                </div>
            </div>
        </div>
    </div>
</div>