<section class="container-auth forms">
    <div class="form login">
        <div class="form-content">
            <header>Forget Password</header>
            <form class="auth-form" id="forget_form" method="post">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" id="email">
                    <div class="error-message" id="emailError"></div>
                </div>

                <div class="form-link">
                    <a href="/login" class="forgot-pass">Log In</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Request</button>
                </div>
            </form>

        </div>
</section>
