<main>
    <h1>Reset Password</h1>
    <form id="change-password" action="/auth/reset-password/{{id}}/{{token}}" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Send</button>
        <div id="client-side-error-div" hidden></div>
    </form>
    {{#if hasErrors}}
    <p class="error">{{error}}</p>
    {{/if}}
</main>