<div class="container">
    {{> navbar}}
</div>
<div class="container">
    <div class="row justify-content-around ">
        <div class="col-12 col-sm-6 col-md-8 col-md-offset-2 border rounded dashboard-showcase-sec">
            <div class="w-75 p-3">
                <div class="row align-items-top">
                    <div class="col-auto">
                        <img class="avatar" src="/image/avatar2.png" alt="Avatar">
                    </div>
                    <div class="col px-0">
                        <h4 class="mb-0" id="author_name">Harsh Patel</h4>
                        <p class="mb-2 pb-3" id="author_email">hvaghasi1@stevens.edu</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-success" id="videoBtn">Video</button>
                        <button type="button" class="btn btn-success" id="likeBtn">Like</button>
                        <button type="button" class="btn btn-success" id="statBtn">Stats</button>
                    </div>
                    <div class="d-flex flex-column justify-content-between border rounded profile-sec mt-2"
                        id="commentSec">
                        <p class="mb-0"><strong>Nature </strong> Dec Nature</p>
                        <p class="mb-3">Likes: <strong>1</strong> | Dislike:
                            <strong>0</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>