<div class="container">
    {{> navbar}}
</div>
<div class="container-fluid">
    <div class="row justify-content-around ">
        <div class="col-12 col-sm-6 col-md-8 col-md-offset-2 border rounded " id="project_list">
            <div class="mb-2 mt-2 rounded justify-content-center" id="cursor-pointer">
                <table class="table">
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Post Report</th>
                            <th scope="col">Post Owner</th>
                            <th scope="col">Report Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>I just dont Like it</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>It's spam</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>Sexual Activity</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>I just dont Like it</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>It's spam</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>Sexual Activity</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>I just dont Like it</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>It's spam</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>Sexual Activity</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>I just dont Like it</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>It's spam</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <th scope="col">Mark</th>
                            <td>Sexual Activity</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>