<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- style CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light justify-content-between my-3 ">
            <a class="navbar-brand text-primary" id="cursor-pointer"
                onclick="deletelocalId(); navigate('/dashboard')">PROJEX</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary " type="submit">Search</button>

            </form>
            <div>
                <button type="button" class="btn btn-secondary mr-2" data-toggle="tooltip" data-placement="top"
                    title="Add Project">
                    +
                </button>

                <div class="btn-group" id="cursor-pointer">
                    <img class="avatar dropdown-toggle" src="/image/avatar2.png" alt="Avatar" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="navigate('/profile')">Profile</a>
                        <a class="dropdown-item" onclick="logOut()">Log Out</a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="container">
        <div class="container d-flex p-5 border justify-content-around">
            <div class="d-flex flex-column border rounded align-items-center justify-content-center">
                <video class="video-upload-sec p-3" id="project_video" controls></video>
            </div>

            <div class="w-75 p-3">
                <div class="row align-items-top">
                    <div class="col-auto">
                        <img class="avatar" src="/image/avatar2.png" alt="Avatar">
                    </div>
                    <div class="col px-0">
                        <h4 class="mb-0" id="author_name"></h4>
                        <p id="project_description">Description</p>
                    </div>

                </div>
                <div>

                    <div class="d-flex flex-column justify-content-between border rounded  project-comment-sec mt-2">
                        <h4 for="report" class="p-3"> Report Project </h4>
                        <select name="report" class="form-control comment-sec" id="report" multiple>
                            <option value="i just dont like it">i just dont like it </option>
                            <option value="its spam">its spam</option>
                            <option value="sexual activity">sexual activity</option>
                            <option value="scam">scam</option>
                            <option value="drugs">drugs</option>
                        </select>

                        <div class="d-flex justify-content-center m-3">
                            <button type="button" class="btn btn-danger" id="add_report">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <script>
        const fetchProjectData = async () => {
            try {
                checkIsLogin()
                let response = await fetch(_base_url + '/project/' + localStorage.getItem('project-id'), {
                    method: "GET",
                    headers: {
                        Authorization: "Bearer " + localStorage.getItem("user-token")
                    }
                })
                let data = await response.json()
                if (data.status) {
                    document.getElementById("project_description").innerHTML = data.data.title + ' - ' + data.data.description;
                    document.getElementById("author_name").innerHTML = data.data.author.firstName + ' ' + data.data.author.lastName;
                    document.getElementById("project_video").setAttribute('src', data.data.videoLink);

                } else {
                    alert(data.msg)
                    return;
                }
            } catch (err) {
                console.log(err)
                alert(err.message)
                return;
            }
        }

        const addProjectReport = async (e) => {
            e.preventDefault()
            try {
                checkIsLogin()
                let selectedOptions = [];
                let selectElement = document.getElementById("report");

                for (let option of selectElement.selectedOptions) {
                    selectedOptions.push(option.value);
                }
                console.log('reasons', selectedOptions)
                let form = new FormData()
                form.append("reasonSelections", selectedOptions)
                form.append('projectId', localStorage.getItem('project-id'))
                let response = await fetch(_base_url + '/report', {
                    method: "POST",
                    body: form,
                    headers: {
                        Authorization: "Bearer " + localStorage.getItem("user-token")
                    }
                })
                let data = await response.json()

                if (data && data.status) {
                    alert(data.msg)
                    navigate('/dashboard')
                } else {
                    alert(data.msg)
                }
            } catch (err) {
                console.log("error", err);
                alert(err.message)
                return;
            }
        }

        document.getElementById('add_report').addEventListener('click', (e) => addProjectReport(e))

        fetchProjectData()
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>