<main>
    <h1>Reset Email</h1>
    <form id="reset-password" action="/auth/reset-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
        <button type="submit">Send</button>
        <div id="client-side-error-div" hidden></div>
    </form>
    {{#if hasErrors}}
    <p class="error">{{error}}</p>
    {{/if}}
</main>