<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <!-- style CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container-auth forms">
        <div class="form login">
            <div class="form-content">
                <header>Reset Password</header>
                <form class="auth-form" id="reset_form" method="post">
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" id="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Confirm Password" class="password" id="confirm_password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div id="snackbar"></div>
    </section>
    <script src="/js/index.js"></script>
    <script>
        const resetHandle = async (e) => {

            e.preventDefault()
            let password = document.getElementById("password").value
            let confirmPassword = document.getElementById("confirm_password").value

            if (password !== confirmPassword) {
                alert("Password doesn't match")
                return
            }
            let form = new FormData()
            form.append("password", password)
            try {

                let request = await fetch(_base_url + '/auth/reset-password' + '/' + localStorage.getItem('reset-token'), {
                    method: "POST",
                    body: form,
                    headers: {

                    }
                })
                let data = await request.json()
                if (data && data.status) {
                    showAlert(data.msg, 'success')
                    setTimeout(() => {
                        window.location.href = '/login'
                    }, 2000)
                } else {
                    showAlert(data.msg, 'error')
                }
            } catch (error) {
                //console.log("register", error)
                showAlert(error.message, 'error')
                return
            }
        }
        document.querySelector("#reset_form").addEventListener("submit", resetHandle);
    </script>
</body>

</html>